# =========================
# SUPABASE
# =========================

NEXT_PUBLIC_SUPABASE_URL=https://rwindnrtuvfecmwbtieh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# =========================
# PAYSTACK
# =========================

NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# =========================
# GOOGLE MAPS
# =========================

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# =========================
# EMAIL (RESEND)
# =========================

RESEND_API_KEY=
RESEND_FROM_EMAIL=

# =========================
# APP
# =========================

NEXT_PUBLIC_APP_NAME=Joy Ride
NEXT_PUBLIC_APP_URL=http://localhost:3000

# =========================
# REWARDS
# =========================

MAX_REWARDED_ADS_PER_DAY=500
POINTS_PER_AD=1
POINTS_FOR_RIDE_CREDIT=10
POINTS_FOR_FREE_RIDE=100
POINTS_FOR_FOOD_REWARD=500
